/******************************************************/
/*         hoja de NightmareBeforeChristmas.html      */
/*         autora: Antonio Cordero Molina             */
/*         version: 1.0                               */
/*         fecha: noviembre de 2023                   */
/*         comentario: trabajo de lenguajes de marcas */
/******************************************************/

/************************* FONTS *****************************/

/************************ SCENARIO ***************************/

body {
    background-color: black;
}

#scenario {
    width: 1500px;
    height: 770px;
    background-image: url(../img/spooky-halloween-wallpaper-with-pumpkin-and-old-house-free-photo.jpg);
    margin: auto;
    position: relative;

}

#tower {
    width: 100px;
    height: 120px;
    border: 5px solid purple;
    position: absolute;
    top: 190px;
    left: 1245px;
}
#pumpkin {
    width: 350px;
    height: 130px;
    border: 5px solid purple;
    position: absolute;
    top: 630px;
    left: 200px;
}
#lamp {
    width: 50px;
    height: 100px;
    border: 5px solid purple;
    position: absolute;
    top: 400px;
    left: 820px;
}

#vampire {
    position: absolute;
    width: 100x;
    height: 100px;
    left: 50px;
    /*display: none; /* de entrada el gif no se ve*/
    visibility: hidden;
}